<p>
  <%= link_to 'Voltar', product_categories_path %>
</p>
<h3>Detalhes do Produto</h3>
<p>
  <strong>Nome do Produto</strong>
  <%= @product_category.name %>
</p>
<p>
  <strong>Nome do Produto</strong>
  <%= @product_category.code %>
</p>
